body{
    background-color: #0079BF;
    margin: 0;
    font-family: sans-serif;
}
header{
    background-color: #0067A3;
    margin: 0;
    padding: 0 1em 0;
    display: flex;
    flex-flow: row;
}
.search{
    flex: 1 30%;
}
.trello{
    flex: 2 60%;
    text-align: center;
    padding-top: 0.5em;
}
h1{
    font-size: 1.6em;
}
.profile{
    flex: 1 20%;
    align: right;
}
.blu{
    background-color: #4591BD;
    border-radius: 0.2em;
}
.tabs>*{
    display: inline-block;
    color: white;
    text-align: center;
}
.search>*{
    margin: 0.5em;
    padding: 0.5em;
}
.profile>*{
    margin: 0.5em;
    padding: 0.5em;

}
.m0{
    margin: 0;
}
input{
    background-color: transparent;
    border: transparent;

}
section{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin: 0 1em 0;
}
section>*{
    /*outline: 2px solid red;*/
    display: inline-block;
    margin: 1em;
}
textarea{
    resize: none;
    border: transparent;
    border-radius: 0.2em;
    margin-bottom: 0.5em;
    width: 100%;
}
button{
    display: block;
}
.create{
    display: none;
    background-color: #E2E4E6;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 15%;
}
.create input{
    background-color: white;
    margin-bottom: 0.5em;
    border-radius: 0.3em;
    width: 100%;
}
#mostrar{
    background-color: #0067A3;
    text-align: left;
    padding: 0 1em 0;
    border-radius: 0.2em;
    height: 3em;
    color: white;

}
.btn{
    background-color: #5BAE45;
    border: transparent;
    border-radius: 0.2em;
    color: white;
    padding: 0.3em 1em 0.3em;
}
.newCreate{
    background-color: #E2E4E6;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 15%;
}/*estilos para los div de tarjetas creados en js*/
h2{
    margin-left: 1em;
}
p{
    overflow-wrap: break-word;
} /*evitar que una palabra larga se salga del container*/
